<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Search for a city"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-container">
    <img
      src="../assets/images/sun.jpg"
      alt=""
      *ngIf="weatherData.main.temp > 15"
    />
    <img
      src="../assets/images/night.jpg"
      alt=""
      *ngIf="weatherData.main.temp <= 15"
    />
    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">
        {{ weatherData.main.temp | number: "1.0-0" }} °C
      </div>
      <div class="weather-description">
        {{ weatherData.weather[0].description }}
      </div>
      <div class="date">
        {{ TodaysDate | date: "short" }}
      </div>
    </div>
  </div>
  <div class="lower-container">
    <div class="info-label">
      More Information
      <!-- <span
        class="weather-icon"
        *ngIf="weatherData.weather[0].main === 'Clouds'"
      >
        <img src="../assets/images/cloudy-weather.png" alt="" />
      </span> -->
    </div>

    <div class="info-container">
      <div
        *ngIf="weatherData.weather[0].description === 'clear sky'"
        class="info-block"
      >
        <div class="info-block-label">
          <img src="../assets/images/clear_sky.png" alt="" />
          <span>{{ weatherData.weather[0].description }}</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.weather[0].main }}
        </div>
      </div>

      <div
        *ngIf="weatherData.weather[0].description === 'few clouds'"
        class="info-block"
      >
        <div class="info-block-label">
          <img src="../assets/images/weather_sunny.png" alt="" />
          <span>{{ weatherData.weather[0].description }}</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.weather[0].main }}
        </div>
      </div>

      <div
        *ngIf="weatherData.weather[0].description === 'scattered clouds'"
        class="info-block"
      >
        <div class="info-block-label">
          <img src="../assets/images/cloudy_weather.png" alt="" />
          <span>{{ weatherData.weather[0].description }}</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.weather[0].main }}
        </div>
      </div>

      <div
        *ngIf="weatherData.weather[0].description === 'broken clouds'"
        class="info-block"
      >
        <div class="info-block-label">
          <img src="../assets/images/cloudy_weather.png" alt="" />
          <span>{{ weatherData.weather[0].description }}</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.weather[0].main }}
        </div>
      </div>

      <div
        *ngIf="weatherData.weather[0].description === 'shower rain'"
        class="info-block"
      >
        <div class="info-block-label">
          <img src="../assets/images/raining_clouds.png" alt="" />
          <span>{{ weatherData.weather[0].description }}</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.weather[0].main }}
        </div>
      </div>

      <div
        *ngIf="weatherData.weather[0].description === 'rain'"
        class="info-block"
      >
        <div class="info-block-label">
          <img src="../assets/images/rainy_sunny.png" alt="" />
          <span>{{ weatherData.weather[0].description }}</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.weather[0].main }}
        </div>
      </div>

      <div
        *ngIf="weatherData.weather[0].description === 'thunderstorm'"
        class="info-block"
      >
        <div class="info-block-label">
          <img src="../assets/images/thunder_storm_snowflake.png" alt="" />
          <span>{{ weatherData.weather[0].description }}</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.weather[0].main }}
        </div>
      </div>

      <div
        *ngIf="weatherData.weather[0].description === 'snow'"
        class="info-block"
      >
        <div class="info-block-label">
          <img src="../assets/images/snowy_clouds_snow_snowflake.png" alt="" />
          <span>{{ weatherData.weather[0].description }}</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.weather[0].main }}
        </div>
      </div>

      <div
        *ngIf="weatherData.weather[0].description === 'mist'"
        class="info-block"
      >
        <div class="info-block-label">
          <img src="../assets/images/misty_weather.png" alt="" />
          <span>{{ weatherData.weather[0].description }}</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.weather[0].main }}
        </div>
      </div>

      <!-- /////// -->

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/temperature_icon.png" alt="" />
          <span>Feels Like</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.feels_like | number: "1.0-0" }} °C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/minT.png" alt="" />
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_min | number: "1.0-0" }} °C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/maxT.png" alt="" />
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_max | number: "1.0-0" }} °C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/humidity_icon_216429.png" alt="" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.humidity }} %</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/wind-icon.png" alt="" />
          <span>wind</span>
        </div>
        <div class="info-block-value">{{ weatherData.wind.speed }} km/h</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/sunrise.png" alt="" />
          <span>sunrise</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.sys.sunrise | date: "shortTime" }}
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/sunset.png" alt="" />
          <span>sunset</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.sys.sunset | date: "shortTime" }}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="upper-container">
    <img src="../assets/images/sun.jpg" alt="" *ngIf="14 > 15" />
    <img src="../assets/images/night2.jpg" alt="" *ngIf="14 <= 15" />
    <div class="weather-data">
      <div class="location">Wellington</div>
      <div class="temperature">{{ 14.4 | number: "1.0-0" }} °C</div>
    </div>
  </div>
  <div class="lower-container">
    <div class="info-label">More Information</div>
    <div class="info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/minT.png" alt="" />
          <span>min</span>
        </div>
        <div class="info-block-value">10°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/maxT.png" alt="" />
          <span>max</span>
        </div>
        <div class="info-block-value">20°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/humidity_icon_216429.png" alt="" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">77%</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/wind-icon.png" alt="" />
          <span>wind</span>
        </div>
        <div class="info-block-value">11 km/h</div>
      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>
